.theme-switch {
  transition: 0.3s ease;
  background-color: $clr-light-bg;

  .header {
    .container {
      .btn_theme {
        color: $clr-light-text;
      }
    }
  }

  main {
    .intro {
      .container {
        .content {
          &_text {
            color: $clr-light-text;
          }
        }
      }
    }
  }
}
